.*.swp
.DS_Store
*target*
*logs*
*.jar
*.war
*.ear
*.class
classes/
.classes
.project
.classpath
.settings/
.metadata
bin
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/**
tartget/**
git.properties
/target/
/logs/